---
const { title, image, imageAlt, stackList, description, url } = Astro.props;
---

<div class="project-card">
    <div class="image-container">
        <img src={image} alt={imageAlt} />
    </div>
    <div class="info-container">
        <h3>{title}</h3>
        <p class="stack-list"><span>Stack Used:</span> {stackList}</p>
        <p class="description">{description}</p>
        <a href={url} target="_blank" class="btn btn--secondary">
            <img src="/open_with.svg" alt={"Open " + title + " Project"} />
            VISIT
        </a>
    </div>
</div>
